
@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Thin.woff2') format('woff2'), url('TTF/MessloSans-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedThin.woff2') format('woff2'), url('TTF/MessloSans-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedThin.woff2') format('woff2'), url('TTF/MessloSans-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-ThinItalic.woff2') format('woff2'), url('TTF/MessloSans-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedThinItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedThinItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtraLight.woff2') format('woff2'), url('TTF/MessloSans-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedExtraLight.woff2') format('woff2'), url('TTF/MessloSans-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedExtraLight.woff2') format('woff2'), url('TTF/MessloSans-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtraLightItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedExtraLightItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Light.woff2') format('woff2'), url('TTF/MessloSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedLight.woff2') format('woff2'), url('TTF/MessloSans-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedLight.woff2') format('woff2'), url('TTF/MessloSans-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-LightItalic.woff2') format('woff2'), url('TTF/MessloSans-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedLightItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedLightItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Regular.woff2') format('woff2'), url('TTF/MessloSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-Extended.woff2') format('woff2'), url('TTF/MessloSans-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-Condensed.woff2') format('woff2'), url('TTF/MessloSans-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-Italic.woff2') format('woff2'), url('TTF/MessloSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Medium.woff2') format('woff2'), url('TTF/MessloSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedMedium.woff2') format('woff2'), url('TTF/MessloSans-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedMedium.woff2') format('woff2'), url('TTF/MessloSans-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-MediumItalic.woff2') format('woff2'), url('TTF/MessloSans-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedMediumItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-SemiBold.woff2') format('woff2'), url('TTF/MessloSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedSemiBold.woff2') format('woff2'), url('TTF/MessloSans-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedSemiBold.woff2') format('woff2'), url('TTF/MessloSans-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-SemiBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Bold.woff2') format('woff2'), url('TTF/MessloSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedBold.woff2') format('woff2'), url('TTF/MessloSans-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedBold.woff2') format('woff2'), url('TTF/MessloSans-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-BoldItalic.woff2') format('woff2'), url('TTF/MessloSans-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtraBold.woff2') format('woff2'), url('TTF/MessloSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedExtraBold.woff2') format('woff2'), url('TTF/MessloSans-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedExtraBold.woff2') format('woff2'), url('TTF/MessloSans-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtraBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MessloSans-Heavy.woff2') format('woff2'), url('TTF/MessloSans-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MessloSans-ExtendedHeavy.woff2') format('woff2'), url('TTF/MessloSans-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/MessloSans-CondensedHeavy.woff2') format('woff2'), url('TTF/MessloSans-CondensedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MessloSans-HeavyItalic.woff2') format('woff2'), url('TTF/MessloSans-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MessloSans-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/MessloSans-ExtendedHeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Messlo Sans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/MessloSans-CondensedHeavyItalic.woff2') format('woff2'), url('TTF/MessloSans-CondensedHeavyItalic.ttf') format('truetype');
}
